{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for name, url in breadcrumbs %}
                <li class="breadcrumb-item">
                    <a href="{{ url }}">{{ name }}</a>
                </li>
            {% endfor %}
        </ol>
    </nav>

        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card shadow-sm mb-4">
                    <div class="card-body text-center">
                        <a href="{% url 'subjects:my_subjects' %}" class="stretched-link text-decoration-none text-dark">
                            <i class="fas fa-book fa-3x mb-3 icon-animate"></i>
                            <h5>My Subjects</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm mb-4">
                    <div class="card-body text-center">
                        <a href="{% url 'users:profile' %}" class="stretched-link text-decoration-none text-dark">
                            <i class="fas fa-user fa-3x mb-3 icon-animate"></i>
                            <h5>Profile</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm mb-4 logout-card">
                    <div class="card-body text-center">
                        <a href="{% url 'users:logout' %}" class="stretched-link text-decoration-none text-danger">
                            <i class="fas fa-sign-out-alt fa-3x mb-3 icon-animate"></i>
                            <h5>Log Out</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
