<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor Dashboard</title>
    {% load static %}
    {% load breadcrumbs %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            {% breadcrumbs %}
        </nav>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card shadow-sm mb-4">
                    <div class="card-body text-center">
                        <a href="{% url 'my_subjects' %}?next={{ request.path }}" class="stretched-link text-decoration-none text-dark">
                            <i class="fas fa-book fa-3x mb-3 icon-animate"></i>
                            <h5>My Subjects</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm mb-4">
                    <div class="card-body text-center">
                        <a href="{% url 'profile' %}?next={{ request.path }}" class="stretched-link text-decoration-none text-dark">
                            <i class="fas fa-user fa-3x mb-3 icon-animate"></i>
                            <h5>Profile</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm mb-4 logout-card">
                    <div class="card-body text-center">
                        <a href="{% url 'logout' %}" class="stretched-link text-decoration-none text-danger">
                            <i class="fas fa-sign-out-alt fa-3x mb-3 icon-animate"></i>
                            <h5>Log Out</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>