<!DOCTYPE html>
<html lang="en">
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Subject</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Create Subject</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Subject</button>
        </form>
        <button type="button" onclick="goBack()">Back</button>
    </div>
</body>
</html>